body {background-color: #CCCCCC;}
h1, h2 {color: #3F6F9F;}
.stage {background-color: #eee;}

#new-post-row {
	background-color: #ccc;
	/*padding: 10px;*/
}

.new-post-button {
	position: fixed;
	right: 0px;
	top: 30px;
}